/* Start font */
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* End font */
/*start Body */
body {
    background-color: yellowgreen;
    color: #24292e;
    font-family: Roboto,Hervetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 10px;
    padding: 15px;
}

/* End Body */

/* star Debug */
.bg-blue {
    background-color: violet;
    color:#24292e;
}
/* End Debug */

/* Star Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */
a{
    color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Star Logo */
.logo {
    text-align: center;
}
/* End Logo */
/* Start Anchor / hyperlink */
a:link,
a:visited {
    color:#0366d6;
    text-decoration:aqua;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline 
}
/* End Anchor / Hyperlink */

/* Star Menu Primer */
.menu-primer ul {
    background-color: violet;
    border-radius: 4px;
    box-shadow:
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0   rgba(0,0,0,.14),
        0 1px 18px 0   rgba(0,0,0,.12);
}

.menu-primer li {
    display:inline-block;

}

.menu-primer a {
    color: #ffffff;
    font-size:  13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;

}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color:#000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}


/* End Menu Primer */



/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 2px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size:  24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Star Jumbotron */
.jumbotron {
    background-color: white;
    border: 1px solid #24292e;
    border-radius: 4px;
    padding:20px 0;
}
.jumbotron h1 {
    font-size:  32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}


/* End Jumbotron */

/* Star Jumbotron */
.main-home-satu {
    font: Left;
    width: 50%;
}
.main-home-dua {
    font: Right;
    width: 50%;
}
/* End jumbotron */
